// header 菜单pop
.menuPop{
  padding: 0 !important;
  top: 66px !important;
  .menu{
    width: 100%;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    cursor: pointer;
    padding-left: 18px;
    > span{
      margin-right: 4px;
    }
  }
  .active{
    background:rgba(246,247,250,1);
    color:rgba(24,144,255,1);
  }
}
// header 设置pop
.settingPop{
  padding: 0 !important;
  top: 66px !important;
  .item{
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    cursor: pointer;
  }
  .username{
    text-align: center;
    border-bottom: 1px solid #D8D8D8;
  }
  .exit{
    background:rgba(246,247,250,1);
    color:rgba(216,30,6,1);
  }
}

.el-dialog__footer{
  text-align: center!important;
}
.dialog-footer{
  text-align: center!important;
}
.el-dialog {
  .el-select{
    width: 100%;
  }
}